<div id="home_container">
  <div id="home_logo"><%= render partial: '/user_util_links' %></div>

  <div class="search_frame">
    <div class="search_container">
      <%= render_search_bar %>
    </div>

  </div>


  <%= render partial: '/shared/dta_nav_bar' %>


  <div id="home_people"></div>


</div>

<% if current_user.present? and current_user.contributor? %>
    <div style="margin-top:-850px;margin-left:-380px;">
      <%= render partial: '/controls' %>
    </div>
<% end %>


