<% record.subject.each do |sub| %>
    <% if !sub.match(/http:\/\/id.loc.gov\/authorities\/subjects\//) %>
        <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
    <span itemprop="name"><%= link_to_facet(sub, Solrizer.solr_name("subject", :facetable)) %></span>
  </span>
        <br />
    <% end %>
<% end %>
