<%= render partial: 'mei/form' %>

<div class="form-group multi_value optional generic_file_lcsh_subject">
  <label class="multi_value optional control-label" for="generic_file_lcsh_subject">Lcsh subject</label>
  <a id="generic_file_lcsh_subject_help" rel="popover" data-content="Lcsh subject" data-original-title="Lcsh subject" aria-label="Usage information for Lcsh subject" href="#"><i aria-hidden="true" class="help-icon"></i></a>
  <ul class="listing">
    <li class="field-wrapper">

      <input style="width:25em;" disabled class="string multi_value optional form-control generic_file_lcsh_subject form-control multi-text-field" name="generic_file[lcsh_subject][]" value="" id="generic_file_lcsh_subject" aria-labelledby="generic_file_lcsh_subject_label" type="text" />
      <button style="width:auto;" type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">Lookup</button>

    </li>
  </ul>
</div>