<div id="main_nav_buttons">
  <ul class="main_nav_ul">

    <li id="fat-menu" class="dropdown outer_nav_li_style">
      <a href="#" id="drop3" role="button" class="dropdown-toggle nav_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
        <li><%= link_to 'By Map', '/map' %></li>
        <li class="divider"></li>
        <li><a href="#">By Institution</a></li>
        <li class="divider"></li>
        <li><a href="#">By Collection</a></li>
        <li class="divider"></li>
        <li><a href="#">By Format</a></li>
      </ul>
    </li>

    <li class="outer_divider"></li>

    <li id="fat-menu" class="dropdown outer_nav_li_style">
      <a href="#" id="drop3" role="button" class="dropdown-toggle nav_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Learn <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
        <li>i there</li>
        <li class="divider"></li>
        <li>hi there</li>
        <li class="divider"></li>
        <li>i there</li>
        <li class="divider"></li>
        <li>i there</li>
      </ul>
    </li>

    <li class="outer_divider"></li>

    <li id="fat-menu" class="dropdown outer_nav_li_style">
      <a href="#" id="drop3" role="button" class="dropdown-toggle nav_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
        <li><%= link_to 'What is this?', about_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Project Information', about_project_path %></li>
        <li class="divider"></li>
        <li>i there</li>
        <li class="divider"></li>
        <li>i there</li>
      </ul>
    </li>

  </ul>

</div>