<section id="secondary" class="widget-area span4" role="complementary">
  <aside id="recent-posts-2" class="widget well widget_recent_entries">		<h2 class="widget-title">Recent News</h2>		<ul>
  <li>
    <a href="http://blog.digitalcommonwealth.org/?p=1023">Special Christmas Dinners</a>
  </li>
  <li>
    <a href="http://blog.digitalcommonwealth.org/?p=991">Internet Archive Images on Flickr</a>
  </li>
  <li>
    <a href="http://blog.digitalcommonwealth.org/?p=984">New Collections added to Digital Commonwealth in September and October</a>
  </li>
  <li>
    <a href="http://blog.digitalcommonwealth.org/?p=960">October, 1942: National Scrap Metal Drive</a>
  </li>
  <li>
    <a href="http://blog.digitalcommonwealth.org/?p=942">Special Event with Maureen Taylor, the Photo Detective</a>
  </li>
</ul>
</aside><aside id="categories-2" class="widget well widget_categories"><h2 class="widget-title">Latest Items</h2>		<ul style="list-style:none;">
  <li class="cat-item cat-item-2"><a href="/files/4q77fr37q"><img src="/downloads/4q77fr37q?file=thumbnail" width="200px"/><br />Renaissance News, Vol. 7 No. 1 (January 1993)</a>
  </li>
  <li class="cat-item cat-item-3"><a href="/files/f7623c581"><img src="/downloads/f7623c581?file=thumbnail" width="200px" /><br />Guide to the TransPositions: A Conference Toward Transgender Studies, Records, 1997-1998</a>
  </li>
  <li class="cat-item cat-item-4"><a href="/files/xk81jk370"><img src="/downloads/xk81jk370?file=thumbnail" width="200px" /><br />Guide to the Tommie L. Watkins Jr. Papers, 2000-2005</a>
  </li>
</ul>
</aside><aside id="text-2" class="widget well widget_text"><h2 class="widget-title">Follow us on Facebook</h2>			<div class="textwidget"><!-- Facebook Badge START --><a href="https://www.facebook.com/pages/Digital-Commonwealth/251547586721" title="Digital Commonwealth" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/251547586721.6484.100226906.png" style="border: 0px;" alt=""></a><!-- Facebook Badge END --></div>
</aside></section>