development:
  general_email: someone@example.org
  support_email: someone@example.org

test:
  general_email: someone@example.org
  support_email: someone@example.org

production:
  general_email: someone@example.org
  support_email: someone@example.org