.single_value_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.single_text_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.single_value_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.collection_description, .genericfile_description  {
  font-family: Verdana,​Arial,​sans-serif;
  font-size: 13px;
  letter-spacing: normal;
}

#generic_file_rights {
	height: 68px;
	max-width: 40em;
}