.single_value_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.single_text_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.single_value_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}