<%= f.input :id, :wrapper => :vertical_input_group, required: @homosaurus.required?('identifier'), :label => "Identifier:" do %>
  <span class="input-group-addon">http://www.homosaurus.org/terms/</span>
  <%= f.input_field :identifier, :class => "form-control", :value => @homosaurus.identifier.to_s %>
<% end %>
