<div id="footer" class="container-fluid">
  <div class="row">
  <div class="col-xs-12 col-sm-5">
      <p class="pull-left" style="padding-top:-50px;"><%= render partial: '/user_util_links' %></p>
      <p></p>
  </div>
    <div class="col-xs-12 col-sm-7">
      <p><%= t('sufia.footer.copyright_html') %></p>
    </div>
  </div><!-- /footer -->
  </div><!-- /.row -->
</div><!-- /footer -->

