.about_section .about_subtitle {
  font-style: italic;
  font-size: 18px;
}

.about_section ul.indent {
  list-style:none;
  margin-top:0px;
}

.about_section li.indent {
  margin-bottom:8px;
}

.news_posts_content {
  font-size:16px;
  margin-bottom: 10px;
}

.static_side_nav_container
{
  max-width:425px;
}

